<ul class="nav justify-content-around py-3">
  <div class="row">
    <li class="nav-item col">
      <a class="nav-link active text-dark" href="#">Active</a>
    </li>
    <li class="nav-item col">
      <a class="nav-link text-dark" href="#">Link</a>
    </li>
  </div>

  <div class="row">
    <li class="nav-item col">
      <a class="nav-link text-dark" href="#">Link</a>
    </li>
    <li class="nav-item col">
      <a class="nav-link disabled text-dark" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </div>
</ul>
