@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

.classe {
    background-color: green;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.novo-estilo {
    background-color: yellowgreen;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode {
    background-color: #353535;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}